*{
	text-align: center;
	list-style-type: none;
}

table {
	text-align: center;
}

tr {
	width: 80vw;
}

th {
	width: 25%;
}

.search-ul {
	list-style-type: none;
	text-align: center;
}

.search-li {
	margin: 1%;
}

.search-fill {
	height: 300px;
	width: 500px;
	overflow: scroll;
	background-color: #ccc;
	border: 1px solid black;
	text-align: center;
	margin-left: 27vw;
	z-index: 4;

}

.food-temp {
	margin-left: 0;
	padding-left: 0;
}

.hide {

	margin: 3% 0 3% 0;
}

.meal {
	display: none;
	margin-left: 0;
	padding-left: 0;
}

.meal-li {
	display: inline-block;
}

.meals {
	list-style-type: none;
	display: inline-block;

	margin: 2%;
	background: #ccc;
	border: 1px solid #ccd;
	position: absolute;
	z-index: 5;
	left: 30vw;
	top: 25vh;
	width: 33vw;
	font-size: 20px;
	text-align: center;
}

.eat {
	border: 1px solid black;
	border-radius: 35px;
	text-align: center;
	padding: 5%;
}

.eat-record {

}

.meals-eaten {
	display: inline;
	width: 100vw;
}

.breakfast-save {
	margin-right: 0;
}

.meal-save {
	display: inline;
	list-style-type: none;

	height: 100px;
	width: 30vw;
	font-size: 10px;
	text-align: center;
	font-style: bold;
	margin-right: 0;
	float: left;
	border: 1px solid #ccc;
}
body {
	background-color: rgba(0,0,0,0.8);
}

.background {
	background: url(..//img/grocery.jpg) no-repeat center center fixed;
	background-size: cover;
	color: white;
}

.greater-search {
	color: black;
}

.cal-count {
	position: fixed;
	margin, padding:;
	left: 70vw;
}

.cal-head {
	font-size: 20px;
}

.shade {
	background-color: rgba(0,0,0,0.5);
	height: 100vh;
	width: 100vw;
}


.delete {
	font-style: bold;
	color: red;
}



.float {
	width: 50%;
	float: left;
	padding: 0;
	margin: 0;

}

.food-head {
	font-size: 15px;
}

.food-sub-head {
	font-size: 10px;
}

.total-cal {
	margin-top: 20%;
}