*{
	text-align: center;
	list-style-type: none;
}

body {
	background-color: rgba(0,0,0,0.8);
}

table {
	text-align: center;
}

tr {
	width: 80vw;
}

th {
	width: 25%;
	font-size: 20px;
	color: #ccc;
}

a, button {
	cursor: pointer;
}

.search-li {
	margin: 1%;
}

.search-ul {
	width: 10vw;
}

.food-temp {
	margin-left: 0;
	padding-left: 0;
}

.searchButton {
	margin-left: 20px;
	width: 100px; 
}

.shade {
	background-color: rgba(0,0,0,0.5);
	height: 100vh;
	width: 100vw;
}

.top-row {
	display: inline;
}

.meal {
	display: none;
	margin-left: 0;
	padding-left: 0;
}

.meal-li {
	display: inline-block;
}

.meal-save {
	display: none;
}

.eat-record {
	height: 40vh;
	border: 1px solid white;
	overflow-y: scroll;
	width: 65vw;
	position: absolute;
	bottom: 30vh;
	right: 8vw;
	display: none;
}

.meals-eaten {
	display: inline;
	width: 80vw;
}

.background {
	background: url(..//img/grocery.jpg) no-repeat center center fixed;
	background-size: cover;
	color: white;
}

.greater-search {
	color: black;
	margin-top: 5%;
	margin-left: 2%;
	width: 20vw;
	height: 80vh;
}

.search-fill {
	overflow: scroll;
	border: 1px solid white;
	position: absolute;
	text-align: center;
	left: 28vw;
	top: 15vh;
	width: 45vw;
	height: 70vh;
	color: white;
	display: none;
}

.cal-count {
	position: fixed;
	margin: 0;
	left: 70vw;
	width: 30vw;
	display: none;
}

.cal-head{
	margin: 10px;
}

.cal-count-span {
	font-size: 30px;
}

.delete {
	font-style: bold;
	color: red;
}

.attribute {
	background-color: white;
	position: fixed;
	width: 100vw;
	bottom: 0.5vh;
}

.main-header {
	position: absolute;
	left: 40vw;
}

.eat-list-ul {
	margin-bottom: 18vh;
	padding-left: 0;
}

.eat-list-div {
	display: none;
}

.saved-ul {
	padding-left: 0;
}

.meals-eaten-table {
	width: 24vw;
	height: 70vh;
	position: fixed;
	right: 3vw;
	top: 16vh;
	padding-left: 0;
	overflow-y: scroll;
	overflow-x: scroll;
}

.gold {
	color: gold;
}



