<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Track Ya Health</title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>


	<script class="food-template" type="text/template">
		<div class="food-temp-div">
		    <ul>
		        <li><span class="test temp-head">Item</span>: <span class="test temp-item"><%= item %></span></li>
		        <li><span class="temp-head">Brand</span>: <span class="temp-item"><%= brand %></span></li>
		        <li><span class="temp-head">Calories</span>: <span class="temp-item"><%= cal %></span></li>
		    </ul>

		    <button class="add">Add</button>
	    </div>
	</script>






	<ul class="search-ul">
		<li class="search-li">
			<input class="searchBar" type="search" placeholder="What'd Ya Eat Today"></input>	
		</li>
		<li class="search-li">
			<input class="minBar" type="search" placeholder="Calorie Minimum"></input>
		</li>
		<li class="search-li">
			<input class="maxBar" type="search" placeholder="Calorie Maximum"></input>
		</li>
		<button class="searchButton">Click to Search</button>
	</ul>
	<div class="greater-search">
		<div class="meal-div">		
			<ul class="meals">
				<li class="eat breakfast" onClick="toggle.bfast()">Breakfast</li>
				<li class="eat lunch" onClick="toggle.lunch()">Lunch</li>
				<li class="eat dinner" onClick="toggle.dinner()">Dinner</li>
			</ul>
		</div>
		<div class="search-fill">
			<button onClick="toggle.hide()" class="hide">Click to Hide</button>
		</div>
	</div>
		<h1 class="eaten-head">Today, I've Eaten:</h1>
		<div class="meals-eaten">
			<div class="meal-save breakfast-save">
				<ul class="float bmeal">Breakfast</ul>
				<ul class="float bcal">Calories</ul>
			</div>			
			<div class="meal-save lunch-save">
				<ul class="float lmeal">Lunch</ul>
				<ul class="float lcal">Calories</ul>
			</div>			
			<div class="meal-save dinner-save">
				<ul class="float dmeal">Dinner</ul>
				<ul class="float dcal">Calories</ul>
			</div>
		</div>

		<div class="total-cal">
			<h2 class="calorie-count">Calories: Add and adjust on update</h2>
		</div>


	<script src="js/lib/jquery-1.12.4.min.js"></script>
	<script src="js/lib/underscore-min.js"></script>
	<script src="js/lib/backbone-min.js"></script>
	<script src="js/lib/backbone-localStorage.js"></script>
	<script src="js/script.js"></script>

</body>
</html> 