<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Track Ya Health</title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<script class="food-template" type="text/template">
	    <ul class="food-temp">
	        <li class="item">
	        	<span class="temp-head">Item</span>: 
	        	<span class="temp-item"><%= item %></span>
	        </li>
	        <li class="brand">
	        	<span class="temp-head">Brand</span>: 
	        	<span class="temp-item"><%= brand %></span>
	        </li>
	        <li class="cal">
	        	<span class="temp-head">Calories</span>: 
	        	<span class="temp-item calories"><%= cal %>
	        	</span>
	        </li>
	    </ul>
	    <ul class="additional-div">
	    	<li class="carbs">
	        	<span class="temp-head">Carbs</span>: 
	        	<span class="temp-item"><%= carbs %></span>
	        </li>
	       	<li class="calsFromFat">
	        	<span class="temp-head">Calories From Fat</span>: 
	        	<span class="temp-item"><%= caloriesFromFat %></span>
	        </li>
	        <li class="cholesterol">
	        	<span class="temp-head">Cholesterol</span>: 
	        	<span class="temp-item"><%= cholesterol %></span>
	        </li>
	        <li class="fat">
	        	<span class="temp-head">Fat</span>: 
	        	<span class="temp-item"><%= fat %></span>
	        </li>
	        <li class="sodium">
	        	<span class="temp-head">Sodium</span>: 
	        	<span class="temp-item"><%= sodium %></span>
	        </li>
	        <li class="sugar">
	        	<span class="temp-head">Sugar</span>: 
	        	<span class="temp-item"><%= sugar %></span>
	        </li>
		</ul>
	    <ul class="meal">
	    	<li class="meal-li">
	    		<button class="bfast info">Breakfast</button>
	    	</li>
	    	<li class="meal-li">
	    		<button class="lunch info">Lunch</button>
	    	</li>
	    	<li class="meal-li">
	    		<button class="dinner info">Dinner</button>
	    	</li>
	    </ul>
	</script>
	<script class="saved-temp" type="text/template">
		<ul class="saved-ul">
			<li class="saved-li"><%= Item %></li>
			<li class="saved-li">Brand: <%= Brand %></li>
			<li class="saved-li">Calories: 
				<span class="cals">
					<%= Calories %>
				</span>
			</li>
			<li class="saved-li">
				<a class="delete"> [x] </a>
			</li>
		</ul>
	</script>
	<script class="additional-template" type="text/template">
		<ul class="additional-temp">
			<li>
				<h1>Additional Info</h1>
			</li>
			<li class="additional-item-header"><%= Item %></li>
			<li>by <%= Brand %></li>
			<li>Carbs: <%= Carbs %></li>
			<li class="saved-li">Sugar: <%= Sugar %></li>
			<li class="saved-li">Cholesterol: <%= Cholesterol %></li>
			<li class="saved-li">Fat: <%= Fat %></li>
			<li class="saved-li">Sodium: <%= Sodium %></li>
		</ul>
	</script>
	<script class="key-header" type="text/template">
		<li><h1 class='keys'><%=key%></h1></li>
	</script>
	<div class="background">
		<div class="shade">
			<h1 class="main-header">Trackin' Ma Health</h1>
			<div class="calorie-counter">
				<h2>Calories: </h2>
				<span class="calorie-number"></span>
			</div>
			<div class="top-row greater-search">
				<ul class="search-ul">
					<li class="search-li">
						<input class="searchBar" type="search" placeholder="Whatcha Eat Today?"></input>
					</li>
					<button class="searchButton">Click to Search</button>
				</ul>
				<div class="save-it">
					<button class="save-button">Click to save</button>
	
					<h2>Previously Saved Logs</h2>
				</div>
				<div class="search-fill"></div>
				<div class="additional-fill"></div>
				<div class="stored-fill"></div>
				<div class="attribute">
					<h3>Powered By
						<a target="_blank" href="http://www.nutritionix.com/business/api">Nutritionix</a>
					</h3>
				</div>
			</div>
			<div class="meals-eaten-table">
				<div class="eat-list-div">
					<h2>Today's Food</h2>
				</div>
				<div class="meal-save bfast-save">
					<h3 class="gold">Breakfast</h3>
				</div>
				<div class="meal-save lunch-save">
					<h3 class="gold">Lunch</h3>
				</div>
				<div class="meal-save dinner-save">
					<h3 class="gold">Dinner</h3>
				</div>
			</div>
		</div>
	</div>

	<script src="js/lib/jquery-1.12.4.min.js"></script>
	<script src="js/lib/underscore-min.js"></script>
	<script src="js/lib/backbone-min.js"></script>
	<script src="js/lib/backbone-localStorage.js"></script>
	<script src="js/model.js"></script>
	<script src="js/collection.js"></script>
	<script src="js/view.js"></script>
	<script src="js/script.js"></script>

</body>
</html> 